<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<html>

<head>
  <link href="admin-candidates.component.css" rel="stylesheet" />
</head>

<body class="background">
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color: #0203037a;">
    <div class="container">
      <a class="navbar-brand" href="#page-top">ALUNNO</a>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0" style="margin-left: 40.6rem;">
          <li class="nav-item"><a class="nav-link" (click)="tests()" style="cursor: pointer">Ispiti</a></li>
          <li class="nav-item"><a class="nav-link" (click)="candidates()" style="cursor: pointer">Kandidati</a></li>
          <li class="nav-item"><a class="nav-link" (click)="instructors()" style="cursor: pointer">Instruktori</a></li>
          <li class="nav-item"><a class="nav-link" (click)="logout()" style="cursor: pointer">Odjava</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
    integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
  <div class="col-lg-9 mt-4 mt-lg-0">
    <div class="row">
      <div class="col-md-12">
        <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm"
          style="margin-top: 5rem; margin-left: 14rem; margin-top: 10rem;">
          <table class="table manage-candidates-top mb-0" style="width: 100rem;">
            <thead>
              <tr>
                <th>Ime kandidata</th>
              </tr>
            </thead>
            <tbody>
              <tr class="candidates-list" *ngFor="let request of allCandidates;let indexOfelement=index;">
                <td class="title">
                  <div><a href="#" data-abc="true"><span
                        class="w-48 avatar gd-info">{{request.name.charAt(0)}}</span></a></div>
                  <div class="candidate-list-details">
                    <div class="candidate-list-info">
                      <div class="candidate-list-title">
                        <h5 class="mb-0"><a href="#">{{request.name}} {{request.lastname}}</a></h5>
                      </div>
                      <div class="candidate-list-option">
                        <ul class="list-unstyled">
                          <li><i class="fa fa-user"></i>{{request.email}}</li>
                          <li><i class="fa fa-phone"></i>{{request.phoneNumber}}</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <p>{{cancelingData[indexOfelement].numberOfCancelations}} otkazana termina u {{cancelingData[indexOfelement].numberOfDays}} dana</p>
                  <p>{{cancelingData[indexOfelement].notShownTermins}} zakazanih termina koje nije posjetio</p>
                </td>
                <td></td>
                <td  *ngIf="!request.blocked">
                    <button type="button" class="btn btn-danger" (click)="blockUser(indexOfelement)"><i class="fas fa-ban"></i></button>
                </td>
                <td *ngIf="request.blocked">
                  <button type="button" class="btn btn-success" (click)="unblockUser(indexOfelement)"><i class="fas fa-check"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>

</html>