<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<html>
  <head>
    <link href="instructor-account.component.css" rel="stylesheet" />
  </head>
  <body class="background">
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color: #0203037a;">
        <div class="container">
            <a class="navbar-brand" href="#page-top">ALUNNO</a>
            
            <div class="collapse navbar-collapse" id="navbarResponsive" style="margin-left: 35rem;">
                <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link" (click)="termins()" style="cursor: pointer">Termini</a></li>
                    <li class="nav-item"><a class="nav-link" (click)="candidates()" style="cursor: pointer">Kandidati</a></li>
                    <li class="nav-item"><a class="nav-link" (click)="requests()" style="cursor: pointer">Zahtjevi</a></li>
                    <li class="nav-item"><a class="nav-link" (click)="licence()" style="cursor: pointer">Licence</a></li>
                    <li class="nav-item"><a class="nav-link" (click)="account()" style="cursor: pointer">Nalog</a></li>
                    <li class="nav-item"><a class="nav-link" (click)="logout()" style="cursor: pointer">Odjava</a></li>
                </ul>
            </div>
        </div>
      </nav>
      <div class="container" style="margin-left: 25rem;">
        <div class="main-body" style="margin-top: -1rem;">
        
              <div class="row gutters-sm" style="margin-top: 7rem;">

                <div class="col-md-8">
                  <div class="card mb-3">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <input type="text" id="login" class="fadeIn second" name="name" [(ngModel)]="name">
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Last Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <input type="text" id="login" class="fadeIn second" name="lastName" [(ngModel)]="lastName">
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <input type="text" id="login" class="fadeIn second" name="email" [(ngModel)]="email" disabled>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Phone number</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <input type="text" id="login" class="fadeIn second" name="phonNumber" [(ngModel)]="phoneNumber">
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">New password</h6>
                        </div>
                        <div class="col-sm-3" style="margin-left: 5rem;">
                          <h6 class="mb-0">Reenter new password</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <input type="password" id="login" class="fadeIn second" name="newPassword" [(ngModel)]="newPassword" style="width: 15rem;">
                          <input type="password" id="login" class="fadeIn second" name="reenteredPassword" [(ngModel)]="reenteredPassword" style="width: 15rem;">
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-12">
                          <a class="btn btn-info " target="__blank" style="margin-left: 37rem;" (click)="editProfile()">Edit</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
    
            </div>
        </div>
  </body>
</html>