<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<html>
  <head>
    <link href="instructors.component.css" rel="stylesheet" />
  </head>
  <body class="background">
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color: #0203037a;">
        <div class="container">
            <a class="navbar-brand" href="#page-top">ALUNNO</a>
            
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0" style="margin-left: 40rem;">
                    <li class="nav-item"><a class="nav-link" (click)="instructors()" style="cursor: pointer">Instruktori</a></li>
                    <li class="nav-item"><a class="nav-link" (click)="logout()" style="cursor: pointer">Odjava</a></li>
                </ul>
            </div>
        </div>
      </nav>
      <button type="button" class="btn btn-light" style="margin-top: 8rem; margin-left: 67rem;" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-plus" aria-hidden="true"></i> Dodaj instruktora</button>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
      <div class="container mt-3 mb-4">
      <div class="col-lg-9 mt-4 mt-lg-0">
          <div class="row">
            <div class="col-md-12" style="margin-bottom: 5rem;">
              <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm" style="margin-top: 2rem; margin-left: 9rem;">
                <table class="table manage-candidates-top mb-0">
                  <thead>
                    <tr>
                      <th>Ime instruktora</th>
                      <th class="text-center">Ocjena</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="candidates-list" *ngFor="let instructor of instructorsList">
                      <td class="title">
                        <div><a href="#" data-abc="true"><span class="w-48 avatar gd-info">{{instructor.name.charAt(0)}}</span></a></div>
                        <div class="candidate-list-details">
                          <div class="candidate-list-info">
                            <div class="candidate-list-title">
                              <h5 class="mb-0"><a href="#">{{instructor.name}} {{instructor.lastName}}</a></h5>
                            </div>
                            <div class="candidate-list-option">
                              <ul class="list-unstyled">
                                <li><i class="fas fa-user pr-1"></i>{{instructor.email}}</li>
                                <li><i class="fas fa-phone pr-1"></i>{{instructor.phoneNumber}}</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td class="candidate-list-favourite-time text-center">
                        <a class="candidate-list-favourite order-2 text-danger" href="#"><i class="fas fa-heart"></i></a>
                        <span class="candidate-list-time order-1">{{instructor.grade}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div id="formContent" style="margin-left: 1.5rem;">
                        <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" style="visibility: hidden;" #closeModal/></div>
                        <!-- Login Form -->
                        <form style="margin-top: 3rem;">
                          <input type="text" id="login" class="fadeIn second" name="email" [(ngModel)]="email" placeholder="korisnicko ime">
                          <input type="text" id="password" class="fadeIn third" name="password" [(ngModel)]="password" placeholder="lozinka">
                          <input type="text" id="password" class="fadeIn third" name="reenteredPassword" [(ngModel)]="reenteredPassword" placeholder="lozinka">
                          <input type="text" id="login" class="fadeIn second" name="name" [(ngModel)]="name" placeholder="ime">
                          <input type="text" id="password" class="fadeIn third" name="lastName" [(ngModel)]="lastName" placeholder="prezime">
                          <input type="text" id="password" class="fadeIn third" name="phoneNubmer" [(ngModel)]="phoneNumber" placeholder="broj telefona">
                          <input type="button" class="fadeIn fourth" value="Registruj se" (click)="register()">
                        </form>
              
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>